.Rproj.user
.Rhistory
.RData
.Ruserdata
._bakgit/*
rbranding.Pproj
rbranding.Rproj
*rbranding*.tar.gz

/.quarto/
.DS_Store
bak_brand.yml
*.Rcheck/**
docs
instructions
inst/doc
*.zip
README.html
README_files/*
notes/*
