
/* Change text to Open Sans */
* {
  font-family: "Open Sans", sans-serif;
}

.skin-blue .main-header .logo {
	font-family: "Open Sans", sans-serif;
	background-color: #490F52;
}

.skin-blue .main-header .navbar {
	font-family: "Open Sans", sans-serif;
	background-color: #490F52;
}

.skin-blue .main-sidebar {
	font-family: "Open Sans", sans-serif;
	background-color: #6E3D75;
}

.navbar-custom-menu {
	float: left!important;
}

/* Make text visible on inputs 
.shiny-input-container {
	color: #474747;
}
*/